/* fonts */

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff")
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  src: local("Cuprum"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: bold;
  src: local("Cuprum"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: normal;
  src: local("Cuprum"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* variables */

:root {
  --basic-blue-extra-dark: #293449;
  --basic-blue-light-dark: #32425C;
  --basic-blue-black: #161D29;
  --basic-red: #EE3643;
  --basic-white: #FFFFFF;
  --basic-white-rgb: 255,255,255;
  --basic-black: #000000;
  --basic-black-rgb: 0,0,0;
  --basic-gray: #A9A9A9;
  --basic-gray-rgb: 169, 169,169;
  --basic-gray-light: #F3F7F9;
  --basic-gray-extra-light: #F1F5F7;
  --basic-yellow: #FFD180;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-blue-pale: #c1c6ce;
  --special-blue-dark: #212A3A;
  --special-blue-light-dark: #405069;
  --special-pink: #DC91D8;
  --special-green: #5FBB2D;
  --special-green-light: #8ED78F;
  --special-green-bright: #63A63E;
  --special-green-dark: #518534;
  --special-green-dark-extra: #367315;
  --special-red: #BA2732;
  --special-red-light: #CA2C37;
  --special-grey-dark: #3D546F;
  --special-grey: #C5C5C5;
  --special-grey-rgb: 197, 197, 197;
  --special-grey-light: #E5E5E5;
  --special-gray-extra-light: #EAEAEA;
  --special-grey-agate: #B5B5B5;
  --special-brown-light-extra: #F9F5F0;
  --special-brown-light: #F7F3EC;
}

/* global */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-header {
  padding-bottom: 60px;
  background-color: var(--basic-gray-extra-light);
}

.header-menu-top {
  background-color: var(--basic-blue-extra-dark);
}

.header-menu-top .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main-header-logo {
  position: absolute;
  width: 220px;
  height: 47px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
}

.main-header-logo img {
  margin-top: 12px;
}

.main-header-logo:active {
  background-color: var(--special-red);
}

.main-header-logo:not([href]):active {
  background-color: var(--basic-red);
}

.form-header-search {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 100%;
  margin-left: 220px;
}

.form-header-search label {
  padding-top: 12px;
  padding-left: 17px;
  background-color: transparent;
}

.form-header-search input[type="search"] {
  order: 1;
  height: 42px;
  padding: 0;
  padding-left: 8px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.form-header-search path {
  opacity: 0.3;
}

.form-header-search:hover path {
  opacity: 1;
}

.form-header-search input[type="search"]:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
  outline: none;
}

.form-header-search input[type="search"]:focus + label {
  background-color: var(--basic-white);
}

.form-header-search input[type="search"]:focus + label path {
  fill: var(--basic-red);
  opacity: 1;
}

.form-header-search input::placeholder {
  color: var(--basic-white);
}

.order-lists {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.order-lists a {
  display: block;
  min-width: 150px;
  padding: 9px 10px 9px 15px;
  color: var(--basic-white);
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
}

.order-lists .bookmarks {
  position: relative;
  padding-left: 43px;
}

.bookmarks:active {
  color: rgba(var(--basic-white-rgb), 0.5);
  background-color: var(--basic-blue-black);
}

.bookmarks::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  opacity: 0.3;
}

.order-lists .cart {
  position: relative;
  padding-left: 49px;
}

.cart::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 26px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.cart:active {
  color: rgba(var(--basic-white-rgb), 0.5);
  background-color: var(--basic-blue-black);
}

.bookmarks:hover::before,
.bookmarks:focus::before,
.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.3;
}

.bookmarks.bookmarks-active,
.cart.cart-active {
  background-color: var(--basic-red);
}

.order {
  text-align: center;
  background-color: var(--special-green-bright);
}

.order:hover,
.order:focus {
  background-color: var(--special-green);
}

.order:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.header-layout {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  justify-content: space-between;
}

.header-content,
.header-contacts,
.header-account {
  padding-top: 46px;
  padding-bottom: 40px;
}

.header-content {
  margin: 0;
  padding-left: 30px;
  padding-right: 70px;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.header-phone {
  position: relative;
  display: inline-block;
  padding: 4px 46px 4px 70px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  background-color: var(--basic-gray-light);
  border: 3px solid var(--basic-white);
  text-decoration: none;
}

.header-phone::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 36px;
  height: 19px;
  width: 19px;
  background-image: url("../img/icon-phone.svg");
}

.header-address {
  margin: 0;
  margin-top: 3px;
  margin-left: 5px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-light-dark);
}

.header-account {
  text-align: right;
}

.login {
  position: relative;
  padding: 12px 27px 12px 45px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-decoration: none;
}
.login:hover,
.login:focus {
  color: var(--basic-red);
}

.login:active {
  color: var(--special-grey);
}

.login svg {
  position: absolute;
  top: 13px;
  left: 19px;
  width: 20px;
  height: 17px;
}

.login:hover path,
.login:focus path {
  fill: var(--special-grey-dark);
}

.login:active path {
  fill: var(--special-grey);
}

.header-account .registration {
  margin-left: 10px;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-decoration: none;
}

.header-account .registration:hover,
.header-account .registration:focus {
  color: var(--basic-red);
}

.header-account .registration:active {
  color: var(--special-grey);
}

.main-nav {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light-dark);
  box-shadow: inset 0px -5px 0px var(--basic-blue-extra-dark);
}

.nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list a {
  display: block;
  padding: 16px 28px 20px;
  color: var(--basic-white);
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus {
  background-color: var(--basic-blue-extra-dark);
}

.nav-list a:active {
  opacity: 0.5;
}

/* page-main */

.page-main {
  background-color: var(--basic-white);
}

/* section promo-block */

.promo-block-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}

.promo-block {
  padding-top: 59px;
  padding-bottom: 59px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: bold;
  color: var(--basic-white);
}

.promo-block-item {
  position: relative;
  padding: 20px 22px 21px;
  overflow: hidden;
}

.promo-block-item::after {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 230px;
  content: "new";
  width: 100px;
  height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  transform: rotate(45deg);
}

.new.promo-block-item::after {
  display: flex;
}

.promo-block-item h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
}

.promo-block-item a {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.promo-block-item a:hover,
.promo-block-item a:focus {
  background-color: rgba(var(--special-grey-rgb), 0.3);
}

.promo-block-item a:active {
  background-color: rgba(var(--basic-gray-rgb), 0.3);
}

.materials {
  position: relative;
  background-color: var(--special-yellow);
}

.materials::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background-image: url("../img/promo-icon-1.svg");
}

.tools {
  position: relative;
  background-color: var(--special-blue);
}

.tools::before {
  position: absolute;
  content: "";
  top: 34px;
  left: 194px;
  width: 75px;
  height: 61px;
  background-image: url("../img/promo-icon-2.svg");
}

.technic {
  position: relative;
  background-color: var(--special-pink);
}

.technic::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background-image: url("../img/promo-icon-3.svg");
}

.discount {
  position: relative;
  background-color: var(--special-green-light);
}

.discount::before {
  position: absolute;
  content: "";
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background-image: url("../img/promo-icon-4.svg");
}

.delivery {
  position: relative;
  background-color: var(--special-yellow);
}

.delivery::before {
  position: absolute;
  content: "";
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background-image: url("../img/promo-icon-5.svg");
}

/* slider */

.promo-slider {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  width: 620px;
  height: 266px;
}

.promo-slider-list {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  list-style: none;
}

.promo-slider-list h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo-slider-list p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.promo-slider-slid {
  position: relative;
  width: 620px;
  height: 266px;
  background-color: var(--basic-gray);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.promo-slider-slid:nth-child(1) {
  background-image: url("../img/slide-promo-1.jpg");
}

.promo-slider-slid:nth-child(2) {
  background-image: url("../img/slide-promo-2.jpg");
}

.promo-slider-slid .button {
  position: absolute;
  left: 24px;
  bottom: 27px;
  padding: 11px 46px 9px 46px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
}

.promo-slider-slid .button:hover,
.promo-slider-slid .button:focus {
  background-color: var(--special-red-light);
}

.promo-slider-slid .button:active {
  background-color: var(--special-red);
}

.slide-title {
  padding: 23px 20px 16px 24px;
  background-color: rgba(var(--basic-black-rgb), 0.25);
}

.slider-contrls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 220px;
  left: 235px;
  width: 150px;
}

.slider-contrls button {
  position: relative;
  padding: 0;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-contrls button:last-child {
  margin-right: 0;
}

.slider-contrls button.current::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: var(--basic-red);
  border-radius: 50%;
}

.slider-btn-back,
.slider-btn-next {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-top: 3px solid var(--basic-white);
  border-right: 3px solid var(--basic-white);
  cursor: pointer;
}

.slider-btn-next {
  right: 20px;
  bottom: 104px;
  transform: rotate(45deg);
}

.slider-btn-back {
  left: 24px;
  bottom: 104px;
  transform: rotate(-135deg);
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

/* feature */

.feature-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-right: 14px;
  background-color: var(--special-brown-light-extra);
}

.feature-title h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-light-dark);
  text-transform: uppercase;
}

.products {
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
}

.products:hover,
.products:focus {
  background-color: var(--special-red-light);
}

.products:active {
  background-color: var(--special-red);
}

.features {
  margin-bottom: 70px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 5px;
  width: 208px;
  min-height: 306px;
  text-align: center;
  border: 1px solid var(--special-gray-extra-light);
  overflow: hidden;
}

.img-container {
  order: -1;
  display: flex;
  height: 175px;
}

.img-container img {
  object-fit: contain;
  margin: auto;
}

.features-item h3 {
  margin: 0;
  margin: 0 18px 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.features-item del {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-gray);
  text-transform: uppercase;
}

.button-price {
  position: relative;
  padding: 10px 25px 10px 32px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;
  border: none;
  border-radius: 3px 0 0 3px;
}

.button-price::before {
  position: absolute;
  content: "";
  top: 0;
  right: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  border-bottom: 19px solid transparent;
}

.button-price:hover,
.button-price:focus {
  background-color: var(--special-red-light);
}

.button-price:active {
  background-color: var(--special-red);
}

.button-price:hover::before,
.button-price:focus::before {
  border-top: 19px solid transparent;
  border-left: 19px solid var(--special-red-light);
  border-bottom: 19px solid transparent;
}

.button-price:active::before {
  border-top: 19px solid transparent;
  border-left: 19px solid var(--special-red);
  border-bottom: 19px solid transparent;
}

.features-item::before {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 145px;
  content: "new";
  width: 100px;
  height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  transform: rotate(45deg);
}

.new.features-item::before {
  display: flex;
}

.button-bay {
  background-color: var(--special-green-bright);
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0px var(--special-green-dark-extra);
  border-radius: 2px;
}

.button-bay:hover,
.button-bay:focus {
  background-color: var(--special-green);
}

.button-bay:active {
  background-color: var(--special-green-dark);
}

/* company */

.company {
  padding-bottom: 50px;
}

.company-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 14px;
  margin-bottom: 20px;
  background-color: var(--special-brown-light-extra);
}

.company-title h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-light-dark);
  text-transform: uppercase;
}

.companies {
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
}

.companies:hover,
.companies:focus {
  background-color: var(--special-red-light);
}

.companies:active {
  background-color: var(--special-red);
}

.company-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.company-item {
  display: flex;
  width: 220px;
  height: 145px;
  background-color: var(--basic-white);
  border: 1px solid var(--special-gray-extra-light);
}

.company-item:hover,
.company-item:focus {
  filter: drop-shadow(0px 4px 20px rgba(var(--basic-black-rgb), 0.15));
}

.company-item:active {
  opacity: 0.5;
}

.company-item a {
  object-fit: contain;
  margin: auto;
}

/* service */

.service {
  padding-top: 64px;
  padding-bottom: 8px;
  background-color: var(--basic-gray-extra-light);
}

.service h2 {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.service-content {
  margin: 0;
}

.service-slider {
  display: flex;
  align-items: flex-start;
  padding-top: 70px;
}

.service-slider-tab {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-slider-tab::after {
  position: absolute;
  content: "";
  right: 0px;
  top: -50px;
  width: 10px;
  height: 279px;
  background-image: url("../img/border-effect.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.service-slider-tab button {
  padding: 14px 22px 17px;
  width: 240px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue-light-dark);
  text-align: left;
  box-shadow: 0px -1px 0px var(--basic-blue-extra-dark),
    inset 0px 1px 0px var(--special-blue-light-dark);
  border: none;
  cursor: pointer;
}

.service-slider-tab button:hover,
.service-slider-tab button:focus {
  background-color: var(--basic-blue-extra-dark);
}

.service-slider-tab button.tab-current {
  background-color: var(--basic-white);
  color: var(--basic-blue-light-dark);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.service-slider-content {
  flex-grow: 1;
}

.service-slider-list {
  margin: 0;
  margin-left: 80px;
  padding: 0;
  list-style: none;
}

.service-slider-item {
  min-height: 283px;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.service-slider-item:nth-child(1) {
  background-image: url("../img/service-delivery.png");
}

.service-slider-item:nth-child(2) {
  background-image: url("../img/service-garant.png");
}

.service-slider-item:nth-child(3) {
  background-image: url("../img/service-credit.png");
}

.service-slider-item:nth-child(3) a.button {
  margin-top: 25px;
  padding: 10px 44px;
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
}

.service-slider-item:nth-child(3) a.button:hover,
.service-slider-item:nth-child(3) a.button:focus {
  background-color: var(--special-red-light);
}

.service-slider-item:nth-child(3) a.button:active {
  background-color: var(--special-red);
}

.service-slider-item h3 {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-light-dark);
  text-transform: uppercase;
}

.service-slider-item p {
  margin: 0;
  width: 330px;
}

/* about */

.about {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
  padding-bottom: 70px;
}

.about-content {
  width: 460px;
}

.about-contacts {
  width: 300px;
}

.about h3 {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about p {
  margin: 0;
  margin-bottom: 32px;
}

.about-content p:last-of-type {
  margin-bottom: 0;
}

.about-contacts p {
  width: 180px;
}

.about-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  list-style: none;
}

.about-item {
  position: relative;
  margin-bottom: 12px;
  margin-left: 37px;
}

.about-item:last-child {
  margin-bottom: 0;
}

.about-item::before {
  position: absolute;
  content: "";
  left: -37px;
  top: 9px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about a.button {
  padding: 11px 40px 9px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
}

.about a.button:hover,
.about a.button:focus {
  background-color: var(--special-red-light);
}

.about-contacts a.button {
  width: 220px;
}

.contacts-map {
  display: block;
  margin-bottom: 25px;
  width: 300px;
  height: 158px;
  line-height: 0;
  background-color: var(--basic-gray-extra-light);
  text-decoration: none;
}

.contacts-map img {
  width: 300px;
  height: 158px;
}

/* footer */

.main-footer {
  background-color: var(--basic-blue-light-dark);
}

.footer-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  text-align: center;
  text-decoration: none;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(var(--basic-black-rgb), 0.24);
}

.main-footer-logo img {
  margin-top: 20px;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
  background-color: var(--basic-red);
}

.main-footer-logo:active {
  background-color: var(--special-red);
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 0;
  margin-top: auto;
  padding: 0;
  list-style: none;
}

.footer-nav-item a {
  display: block;
  margin-left: 58px;
  padding: 7px 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gray-extra-light);
  text-decoration: none;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus {
  text-decoration: underline;
}

.footer-nav-item a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom-menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
}

.footer-contacts {
  width: 350px;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-gray-extra-light);
}

.footer-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-bar-item a {
  display: block;
  margin-left: 58px;
  padding: 5px 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-yellow);
  text-decoration: none;
}

.footer-bar-item a:hover,
.footer-bar-item a:focus {
  text-decoration: underline;
}

.footer-bar-item a:active {
  opacity: 0.5;
}

.footer-content-bottom {
  background-color: var(--basic-blue-extra-dark);
}

.footer-content-bottom .container {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer-copyright {
  margin: 0;
  padding-right: 40px;
  width: 240px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

.footer-social .social-button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 1px;
  text-decoration: none;
  color: var(--basic-white);
  background: linear-gradient(0deg, var(--special-blue-dark), var(--special-blue-dark));
  border-radius: 50%;
}

.footer-social li:last-child .social-button {
  margin-right: 0;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus,
.footer-social .social-button:active {
  background: var(--basic-red);
}

.footer-social .vk::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 9px;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
}

.footer-social .fb::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 16px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}

.footer-social .inst::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.communication {
  display: flex;
}

.footer-feedback,
.footer-developer {
  margin: 0;
  width: 140px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  box-sizing: border-box;
}

.footer-feedback {
  margin-right: 20px;
}

.footer-developer {
  padding: 0 13px 0 30px;
}

.footer-feedback a[href^="mailto:"],
.footer-developer a[href^="https:"] {
  color: var(--basic-yellow);
  text-decoration: none;
}

.footer-feedback a[href^="mailto:"]:hover,
.footer-feedback a[href^="mailto:"]:focus,
.footer-developer a[href^="https:"]:hover,
.footer-developer a[href^="https:"]:focus {
  text-decoration: underline;
}

.footer-feedback a[href^="mailto:"]:active,
.footer-developer a[href^="https:"]:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* modal */

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0px 20px 40px rgba(var(--basic-black-rgb), 0.75));
}

/* modal-message */

.modal-message {
  display: none;
  top: 100px;
  bottom: auto;
  width: 440px;
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.login-form {
  display: grid;
  width: 460px;
  grid-template-columns: 1fr 1fr;
}

.login-form .form-message {
  grid-column: 1/-1;
}

.modal-message input,
.modal-message textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-gray);
  border: 2px solid var(--special-grey);
  border-radius: 2px;
}

.modal-message label {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.modal-message button.button {
  grid-column: 1/-1;
  margin-top: 37px;
  margin-bottom: 37px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-red);
}

.modal-message button.button:hover,
.modal-message button.button:focus {
  background-color: var(--special-red-light);
}

.modal-message button.button:active {
  background-color: var(--special-red);
}

.modal-map {
  display: none;
  width: 943px;
  height: 449px;
}

/* catalog.html */

.page-main-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.user-block {
  display: flex;
}

.user {
  flex-grow: 1;
  position: relative;
  padding: 12px 0 12px 54px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-decoration: none;
}

.user:active {
  color: var(--special-grey);
}

.user svg {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
}

.user:hover path,
.user:focus path {
  fill: var(--special-grey-dark);
}

.user:active path {
  fill: var(--special-grey);
}

.logout {
  position: relative;
  display: block;
  width: 55px;
  background-color: var(--basic-white);
}

.logout svg {
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
}

.logout:hover path,
.logout:focus path {
  fill: var(--special-grey-dark);
}

.logout:active path {
  fill: var(--special-grey);
}

.user-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  list-style: none;
}

.user-list-item {
  position: relative;
  margin-right: 35px;
}

.user-list-item::after {
  position: absolute;
  content: "";
  top: 10px;
  right: -20px;
  width: 4px;
  height: 4px;
  background-color: var(--basic-blue-light-dark);
  border-radius: 50%;
}

.user-list-item:last-child {
  margin-right: 0;
}

.user-list-item:last-child::after {
  display: none;
}

.user-list a {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-light-dark);
  text-decoration: none;
}

.user-list a:hover,
.user-list a:focus {
  color: var(--basic-red);
}

.user-list a:active {
  color: var(--special-grey);
}

.user-orders:hover,
.user-orders:focus,
.user-account:hover,
.user-account:focus {
  color: var(--basic-red);
}

.user-orders:active,
.user-account:active {
  color: var(--special-grey);
}

.page-title {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-light-dark);
  background-color: var(--basic-gray-extra-light);
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/-1;
  order: -1;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  right: -25px;
  border: 1px solid var(--special-blue-pale);
  border-left: none;
  border-bottom: none;
  position: absolute;
  transform: rotate(45deg);
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
}

/* filters */

.filters {
  width: 220px;
}

.filters fieldset {
  margin: 0;
  margin-top: 16px;
  padding: 0;
  padding-bottom: 26px;
  border: none;
  border-bottom: 1px solid var(--special-grey);
}

.filters fieldset:last-of-type {
  margin-bottom: 10px;
  border-bottom: none;
}

.filters h2 {
  font-size: 13px;
  font-weight: 18px;
  color: var(--basic-black);
  background-color: var(--special-brown-light);
  text-transform: uppercase;
}

.filters legend {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-form label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-form label {
  margin-bottom: 20px;
}

.filter-form li:last-child label {
  margin-bottom: 0;
}

.filter-checkbox {
  padding-left: 35px;
}

.filter-form input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--special-brown-light);
  border: none;
}

.filter-form input[type="range"] {
  background-color: var(--special-brown-light);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--special-grey);
  border-radius: 2px;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before{
  border-color: var(--special-grey-agate);
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -30px;
  width: 16px;
  height: 8px;
  border: 4px solid var(--special-grey);
  border-top: none;
  border-right: none;
  box-shadow: inset 0 -2px 0 0 var(--basic-white), 0 2px 0 0 var(--basic-white);
  transform: rotate(-45deg);
}

.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  border-color: var(--special-grey-agate);
}

.filter-radio {
  padding-left: 35px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 17px;
  height: 17px;
  border: 4px solid var(--special-grey);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  border-color: var(--special-grey-agate);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -27px;
  width: 9px;
  height: 9px;
  background-color: var(--special-grey);
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  background-color: var(--special-grey-agate);
}

.filter-form .btn-filter {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--special-grey-light);
  text-transform: uppercase;
}

.filter-form .btn-filter:hover,
.filter-form .btn-filter:focus {
  border-color: var(--special-grey);
}

.filter-form .btn-filter:active {
  border-color: var(--basic-red);
}

/* catalog */

.catalog {
  margin-left: 20px;
}

.catalog-top-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
  background-color: var(--special-brown-light);
}

.control-block {
  display: flex;
}

.catalog h2 {
  flex-grow: 1;
  margin: 10px 0 10px 20px;
  font-size: 13px;
  font-weight: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  margin: 10px 20px;
  padding: 0;
  list-style: none;
}

.sort-item {
  margin-right: 65px;
}

.sort-item:last-child {
  margin-right: 0;
}

.sort-item a {
  font-size: 13px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-item a:hover,
.sort-item a:focus {
  opacity: 1;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-item a:active {
  color: var(--basic-red);
  border: none;
}

.sort-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 17px;
  margin-left: 26px;
  width: 43px;
}

.sort-top,
.sort-bottom {
  padding: 0;
  border: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 11px solid var(--special-grey);
}

.sort-bottom {
  transform: rotate(180deg);
}

.sort-top:hover,
.sort-top:focus,
.sort-bottom:hover,
.sort-bottom:hover {
  border-bottom: 11px solid var(--basic-black);
}

.sort-top:active,
.sort-bottom:active {
  border-bottom: 11px solid var(--basic-red);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 218px;
  min-height: 316px;
  text-align: center;
  border: 1px solid var(--special-gray-extra-light);
}

.catalog-item h3 {
  margin: 28px 17px 7px 18px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item del {
  display: block;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-gray);
  text-transform: uppercase;
}

.catalog-item .btn-bay {
  margin-bottom: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-decoration: none;
}

.catalog-item button {
  background-color: var(--special-green-bright);
  text-transform: uppercase;
  box-shadow: inset 0px -3px 0px var(--special-green-dark-extra);
  border-radius: 2px;
}

.catalog-itemm button:hover,
.catalog-item button:focus {
  background-color: var(--special-green);
}

.catalog-item button:active {
  background-color: var(--special-green-dark);
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: none;
  border: 1px solid var(--special-grey-light);
  border-radius: 2px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border-color: var(--special-grey);
}

.pagination-item a:active {
  border-color: var(--basic-red);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-red);
}

.about-product {
  background-color: var(--basic-gray-extra-light);
}

.about-product h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/* modal */

.modal-cart {
  display: none;
}

.modal-cart p {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.btn-order {
  background-color: var(--basic-red);
  text-transform: uppercase;
  text-decoration: none;
}

.btn-continue {
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}
